In [1]:
# import files
! pip install pandas -q
import pandas as pd
import numpy as np

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
#Extract data
population_data = pd.read_csv('Population.csv',sep= ",",quotechar = '"',engine='python',skiprows=4)
population_data.head(20)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54922.0,55578.0,56320.0,57002.0,57619.0,58190.0,...,108727.0,108735.0,108908.0,109203.0,108587.0,107700.0,107310.0,107359.0,107624.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130075728.0,133534923.0,137171659.0,140945536.0,144904094.0,149033472.0,...,623369401.0,640058741.0,657801085.0,675950189.0,694446100.0,713090928.0,731821393.0,750503764.0,769294618.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,9035043.0,9214083.0,9404406.0,9604487.0,9814318.0,10036008.0,...,34700612.0,35688935.0,36743039.0,37856121.0,39068979.0,40000412.0,40578842.0,41454761.0,42647492.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97630925.0,99706674.0,101854756.0,104089175.0,106388440.0,108772632.0,...,429454743.0,440882906.0,452195915.0,463365429.0,474569351.0,485920997.0,497387180.0,509398589.0,521764076.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5231654.0,5301583.0,5354310.0,5408320.0,5464187.0,5521981.0,...,29183070.0,30234839.0,31297155.0,32375632.0,33451132.0,34532429.0,35635029.0,36749906.0,37885849.0,NaN
5,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2876101.0,2873457.0,2866376.0,2854191.0,2837849.0,2811666.0,2777689.0,2745972.0,2714617.0,NaN
6,Andorra,AND,"Population, total",SP.POP.TOTL,9510.0,10283.0,11086.0,11915.0,12764.0,13634.0,...,72181.0,73763.0,75162.0,76474.0,77380.0,78364.0,79705.0,80856.0,81938.0,NaN
7,Arab World,ARB,"Population, total",SP.POP.TOTL,91540853.0,93931683.0,96428599.0,99038509.0,101729760.0,104494008.0,...,419808341.0,428315886.0,435998060.0,444281315.0,453723239.0,460646603.0,471352066.0,482105978.0,492579811.0,NaN
8,United Arab Emirates,ARE,"Population, total",SP.POP.TOTL,131334.0,137989.0,144946.0,152211.0,159692.0,167103.0,...,8935095.0,9223225.0,9346701.0,9445785.0,9401038.0,9575152.0,10074977.0,10483751.0,10876981.0,NaN
9,Argentina,ARG,"Population, total",SP.POP.TOTL,20386045.0,20726276.0,21072538.0,21421705.0,21769453.0,22112629.0,...,43900313.0,44288894.0,44654882.0,44973465.0,45191965.0,45312281.0,45407904.0,45538401.0,45696159.0,NaN
10,Armenia,ARM,"Population, total",SP.POP.TOTL,1863705.0,1927484.0,1991689.0,2056023.0,2120135.0,2183635.0,...,2992300.0,2979400.0,2969000.0,2962500.0,2961500.0,2962300.0,2969200.0,2964300.0,3033500.0,NaN
11,American Samoa,ASM,"Population, total",SP.POP.TOTL,20133.0,20666.0,21298.0,21966.0,22673.0,23406.0,...,52245.0,51586.0,50908.0,50209.0,49761.0,49225.0,48342.0,47521.0,46765.0,NaN
12,Antigua and Barbuda,ATG,"Population, total",SP.POP.TOTL,55603.0,56540.0,57336.0,58138.0,59020.0,59970.0,...,89969.0,90468.0,90926.0,91364.0,91846.0,92349.0,92840.0,93316.0,93772.0,NaN
13,Australia,AUS,"Population, total",SP.POP.TOTL,10276477.0,10483000.0,10742000.0,10950000.0,11167000.0,11388000.0,...,24190907.0,24592588.0,24963258.0,25334826.0,25649248.0,25685412.0,26014399.0,26652777.0,27204809.0,NaN
14,Austria,AUT,"Population, total",SP.POP.TOTL,7047539.0,7086299.0,7129864.0,7175811.0,7223801.0,7270889.0,...,8736668.0,8797566.0,8840521.0,8879920.0,8916864.0,8955797.0,9041851.0,9131761.0,9178482.0,NaN
15,Azerbaijan,AZE,"Population, total",SP.POP.TOTL,3894500.0,4045750.0,4168150.0,4293550.0,4439250.0,4574650.0,...,9757812.0,9854033.0,9939771.0,10024283.0,10093121.0,10137750.0,10141756.0,10153958.0,10202850.0,NaN
16,Burundi,BDI,"Population, total",SP.POP.TOTL,2764258.0,2835119.0,2907943.0,2969841.0,3055650.0,3141367.0,...,11239451.0,11506762.0,11859446.0,12255336.0,12617036.0,12965481.0,13321097.0,13689450.0,14047786.0,NaN
17,Belgium,BEL,"Population, total",SP.POP.TOTL,9153489.0,9183948.0,9220578.0,9289770.0,9378113.0,9463667.0,...,11331422.0,11375158.0,11427054.0,11488980.0,11538604.0,11586195.0,11680210.0,11787423.0,11876844.0,NaN
18,Benin,BEN,"Population, total",SP.POP.TOTL,2517286.0,2559223.0,2604659.0,2652908.0,2704003.0,2757936.0,...,11697842.0,12039780.0,12383347.0,12726755.0,13070169.0,13413417.0,13759501.0,14111034.0,14462724.0,NaN
19,Burkina Faso,BFA,"Population, total",SP.POP.TOTL,4778621.0,4848224.0,4919672.0,4993623.0,5071034.0,5152833.0,...,19334856.0,19894407.0,20438288.0,20961952.0,21478690.0,21995243.0,22509038.0,23025776.0,23548781.0,NaN

In [3]:
population_data.info()
population_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 70 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            264 non-null    float64
 5   1961            264 non-null    float64
 6   1962            264 non-null    float64
 7   1963            264 non-null    float64
 8   1964            264 non-null    float64
 9   1965            264 non-null    float64
 10  1966            264 non-null    float64
 11  1967            264 non-null    float64
 12  1968            264 non-null    float64
 13  1969            264 non-null    float64
 14  1970            264 non-null    float64
 15  1971            264 non-null    float64
 16  1972            264 non-null    float64
 17  1973            264 non-null    float64
 18  1974            264 non-null    float64
 19  1975            264 non-null    float64
 20  1976            264 non-null    float64
 21  1977            264 non-null    float64
 22  1978            264 non-null    float64
 23  1979            264 non-null    float64
 24  1980            264 non-null    float64
 25  1981            264 non-null    float64
 26  1982            264 non-null    float64
 27  1983            264 non-null    float64
 28  1984            264 non-null    float64
 29  1985            264 non-null    float64
 30  1986            264 non-null    float64
 31  1987            264 non-null    float64
 32  1988            264 non-null    float64
 33  1989            264 non-null    float64
 34  1990            265 non-null    float64
 35  1991            265 non-null    float64
 36  1992            265 non-null    float64
 37  1993            265 non-null    float64
 38  1994            265 non-null    float64
 39  1995            265 non-null    float64
 40  1996            265 non-null    float64
 41  1997            265 non-null    float64
 42  1998            265 non-null    float64
 43  1999            265 non-null    float64
 44  2000            265 non-null    float64
 45  2001            265 non-null    float64
 46  2002            265 non-null    float64
 47  2003            265 non-null    float64
 48  2004            265 non-null    float64
 49  2005            265 non-null    float64
 50  2006            265 non-null    float64
 51  2007            265 non-null    float64
 52  2008            265 non-null    float64
 53  2009            265 non-null    float64
 54  2010            265 non-null    float64
 55  2011            265 non-null    float64
 56  2012            265 non-null    float64
 57  2013            265 non-null    float64
 58  2014            265 non-null    float64
 59  2015            265 non-null    float64
 60  2016            265 non-null    float64
 61  2017            265 non-null    float64
 62  2018            265 non-null    float64
 63  2019            265 non-null    float64
 64  2020            265 non-null    float64
 65  2021            265 non-null    float64
 66  2022            265 non-null    float64
 67  2023            265 non-null    float64
 68  2024            265 non-null    float64
 69  Unnamed: 69     0 non-null      float64
dtypes: float64(66), object(4)
memory usage: 145.6+ KB

(266, 70)

In [4]:
# Get list of countries
countries_data = pd.read_csv('un_member_iso_region.csv')
countries_data.info()
countries_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   iso2               192 non-null    object
 1   member             193 non-null    object
 2   iso3               192 non-null    object
 3   region             192 non-null    object
 4   unga_region_group  193 non-null    object
dtypes: object(5)
memory usage: 7.7+ KB

,iso2,member,iso3,region,unga_region_group
0,AD,Andorra,AND,Europe & Central Asia,WEOG
1,AE,United Arab Emirates,ARE,Middle East & North Africa,APG
2,AF,Afghanistan,AFG,South Asia,APG
3,AG,Antigua And Barbuda,ATG,Latin America & Caribbean,GRULAC
4,AL,Albania,ALB,Europe & Central Asia,EEG

In [5]:
corona_cases  = pd.read_csv('country_wise_latest.csv')
corona_cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    int64
 7   New recovered           187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(4), int64(9), object(2)
memory usage: 22.0+ KB

In [6]:
#clean data
def clean_Data(data):
    clean_pop_data = data[['Country Name','Country Code','2020']]
    #Filter to remain with UN countries
    un_countries = clean_pop_data [clean_pop_data['Country Code'].isin(countries_data['iso3'])]
    #Merge data with COVID-19 cases
    merged_data = pd.merge(un_countries,corona_cases,left_on = 'Country Name',right_on ='Country/Region', how='left')
    corona_un = merged_data.drop(['Deaths / 100 Cases','Recovered / 100 Cases','Deaths / 100 Recovered','Confirmed last week','1 week change','Country/Region'], axis = 1)
    return corona_un

UN_Corona =clean_Data(population_data)

In [7]:

#Fill missing values
UN_Corona.fillna(0.0, inplace= True)
UN_Corona.info()
#Rename columns
UN_Corona = UN_Corona.rename(columns={'2020':'Population 2020'})
UN_Corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country Name       192 non-null    object
 1   Country Code       192 non-null    object
 2   2020               192 non-null    float64
 3   Confirmed          192 non-null    float64
 4   Deaths             192 non-null    float64
 5   Recovered          192 non-null    float64
 6   Active             192 non-null    float64
 7   New cases          192 non-null    float64
 8   New deaths         192 non-null    float64
 9   New recovered      192 non-null    float64
 10  1 week % increase  192 non-null    float64
 11  WHO Region         192 non-null    object
dtypes: float64(9), object(3)
memory usage: 18.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country Name       192 non-null    object
 1   Country Code       192 non-null    object
 2   Population 2020    192 non-null    float64
 3   Confirmed          192 non-null    float64
 4   Deaths             192 non-null    float64
 5   Recovered          192 non-null    float64
 6   Active             192 non-null    float64
 7   New cases          192 non-null    float64
 8   New deaths         192 non-null    float64
 9   New recovered      192 non-null    float64
 10  1 week % increase  192 non-null    float64
 11  WHO Region         192 non-null    object
dtypes: float64(9), object(3)
memory usage: 18.1+ KB

In [10]:
#Load
import sqlalchemy as sal
engine = sal.create_engine("mssql://DESKTOP-DH5GQN6\\SQLEXPRESS/ETL_PIPELINE?driver=ODBC+DRIVER+17+FOR+SQL+SERVER")
conn = engine.connect()

In [11]:
UN_Corona.to_sql("population_covid19",con=conn, index=False, if_exists='replace')

18